node_modules
npm-debug.log
yarn-error.log
package-lock.json

coverage
*.test.ts
*.spec.ts

*.ts
!.d.ts
!.tsbuildinfo

dist
build
.cache
.vscode
.idea

*.sublime-project
*.sublime-workspace
*.vscode/
*.DS_Store

.git
.gitignore

.env
*.swp
*.bak
*.tmp
