<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Test Portdata</title>

    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Source Sans Pro", "Roboto", "Poppins", sans-serif;
        min-height: 100vh;
        overflow-x: hidden;
      }
    </style>
  </head>

  <body class="bg-gray-100">
    <div id="app" class="p-0">
      <header class="bg-blue-500 text-white p-4 shadow-md">
        <div class="max-w-7xl mx-auto flex justify-between items-center">
          <div class="flex items-center space-x-3">
            <span class="text-xl font-bold">{{ pageName }}</span>
          </div>
          <nav class="space-x-6">
            <button
              class="text-white bg-green-600 hover:text-black hover:bg-gray-50 hover:cursor-pointer flex items-center space-x-2 border-2 border-white rounded-md px-4 py-2"
              @click="toggleCreateModal"
            >
              <span class="material-icons">add</span>
              <span class="hidden md:inline">Adicionar</span>
            </button>
          </nav>
        </div>
      </header>

      <div
        class="max-w-7xl mx-auto bg-white rounded-xl shadow-md space-y-4 mt-6 p-6"
      >
        <h2 class="text-xl font-semibold text-blue-500 mb-4">
          Contatos {{ pageName }}
        </h2>

        <div class="overflow-x-auto">
          <table class="min-w-full table-auto">
            <thead>
              <tr>
                <th class="px-4 py-2 text-left">Nome</th>
                <th class="px-4 py-2 text-left">Telefone</th>
                <th class="hidden sm:table-cell px-4 py-2 text-left">
                  Data de Criação
                </th>
                <th class="px-4 py-2">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="contact in contacts" :key="contact.id">
                <td class="px-4 py-2">{{ contact.name }}</td>
                <td class="px-4 py-2">
                  {{ formatPhoneNumber(contact.phone) }}
                </td>
                <td class="hidden sm:table-cell px-4 py-2">
                  {{ new Date(contact.createdAt).toLocaleDateString() }}
                </td>
                <td
                  class="px-4 py-2 flex flex-col md:flex-row space-x-0 md:space-x-2 justify-center"
                >
                  <button
                    class="bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600 mb-2 md:mb-0"
                  >
                    Editar
                  </button>
                  <button
                    class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600"
                  >
                    Excluir
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div
        v-if="showCreateModal"
        class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50"
      >
        <div class="bg-white rounded-lg shadow-lg w-full max-w-lg p-6">
          <h3 class="text-xl font-semibold mb-4 text-blue-500">
            Adicionar Contato
          </h3>

          <form @submit.prevent="createContact">
            <div class="mb-4">
              <label class="block text-gray-700">Nome</label>
              <input
                v-model="newContact.name"
                type="text"
                class="w-full p-2 border rounded"
                required
              />
            </div>

            <div class="mb-4">
              <label class="block text-gray-700">Telefone</label>
              <div class="flex">
                <span
                  class="inline-flex items-center px-3 bg-gray-100 border border-r-0 rounded-l-md text-gray-500"
                  >+55</span
                >
                <input
                  v-model="newContact.ddd"
                  type="text"
                  class="w-1/6 p-2 border rounded-r-md"
                  placeholder="XX"
                  maxlength="2"
                  required
                  @input="onDddInput"
                />
                <span
                  class="inline-flex items-center px-3 bg-gray-100 border border-r-0 rounded-l-md text-gray-500"
                  >9</span
                >
                <input
                  v-model="newContact.phone"
                  type="text"
                  class="w-full p-2 border rounded-r-md"
                  placeholder="XXXXXXXX"
                  maxlength="8"
                  required
                  @input="onPhoneInput"
                />
              </div>
            </div>

            <div class="flex justify-end space-x-4">
              <button
                @click="showCreateModal = false"
                type="button"
                class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400"
              >
                Cancelar
              </button>
              <button
                type="submit"
                class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700"
              >
                Salvar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="module">
      import {
        createApp,
        ref,
        onMounted,
      } from "https://unpkg.com/vue@3.3.4/dist/vue.esm-browser.js";

      const App = {
        setup() {
          const pageName = ref("Portdata");
          const contacts = ref([]);
          const showCreateModal = ref(false);
          const newContact = ref({ name: "", ddd: "", phone: "" });

          const fetchContacts = async () => {
            try {
              const params = new URLSearchParams({
                page: 1,
                limit: 999999,
              });

              const response = await fetch(
                `http://localhost:5050/contacts?${params}`,
                {
                  method: "GET",
                  headers: {
                    "Content-Type": "application/json",
                  },
                }
              );

              if (!response.ok) {
                throw new Error("Failed to fetch contacts");
              }

              const data = await response.json();
              contacts.value = data.contacts;
            } catch (error) {
              console.error(error);
            }
          };

          const createContact = async () => {
            if (!newContact.value.name || !newContact.value.phone)
              return alert("Preencha todos os campos!");

            try {
              const response = await fetch(`http://localhost:5050/contacts`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                  phone: `${newContact.value.ddd}9${newContact.value.phone}`,
                  name: newContact.value.name,
                }),
              });

              if (!response.ok) {
                const errorData = await response.json();
                throw new Error(errorData.message || "Falha ao criar contato");
              }

              await fetchContacts();
              showCreateModal.value = false;
              newContact.value = { name: "", ddd: "", phone: "" };
            } catch (error) {
              return alert(error.message);
            }
          };

          const editContact = (id) => {
            alert(`Edit contact with ID: ${id}`);
            // Adicione a lógica de edição aqui
          };

          const deleteContact = (id) => {
            alert(`Delete contact with ID: ${id}`);
            // Adicione a lógica de exclusão aqui
          };

          const formatPhoneNumber = (phoneNumber) => {
            const cleaned = phoneNumber.replace(/\D/g, "");
            if (cleaned.length === 11) {
              return `(${cleaned.slice(0, 2)}) ${cleaned.slice(
                2,
                3
              )} ${cleaned.slice(3, 7)}-${cleaned.slice(7)}`;
            } else {
              return phoneNumber;
            }
          };

          const toggleCreateModal = () => {
            showCreateModal.value = !showCreateModal.value;
          };

          const onDddInput = (event) => {
            newContact.value.ddd = event.target.value
              .replace(/\D/g, "")
              .slice(0, 2);
          };

          const onPhoneInput = (event) => {
            newContact.value.phone = event.target.value
              .replace(/\D/g, "")
              .slice(0, 8);
          };

          onMounted(() => {
            fetchContacts();
          });

          return {
            pageName,
            contacts,
            newContact,
            editContact,
            deleteContact,
            formatPhoneNumber,
            toggleCreateModal,
            showCreateModal,
            onDddInput,
            onPhoneInput,
            createContact,
          };
        },
      };

      createApp(App).mount("#app");
    </script>
  </body>
</html>
